.searchBar {
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  border-radius: 0% 30px 30px 30px;
  transition: width .5s;
  box-shadow: white 0px 5px 15px;

  .icon {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 13px;
    margin-right: auto;
    font-size: 1.8rem;
  }

  .searchInput {
    margin: auto;
    display: none;
    transition: display 12s;
    outline: none;
    border: none;
    border-radius: 25px;
    padding-left: 10px;
  }

  &:hover {
    width: 400px;
    border-radius: 0% 30px 30px 30px;

    .searchInput {
      display: inline-flex;
      width: 78%;
      height: 70%;
    }
  }
}
